---
title: My Portfolio - Nima Alamatsaz
layout: default
---

<section>
  <p>I am a versatile self-starter with years of experience in programming with Python, C++, R; a strong background in machine learning, statistical modeling, signal processing; and engineering skills such as embedded systems and circuit design.</p>
  <p>My role as a graduate student in neuroscience has evolved around computational modeling of hearing phenomena through analyzing large amounts of brain signals by parallelized implementation of machine learning methods (such as K-SVD), and statistical modeling of human sound localization data using nonlinear mixed-effects model (NLME). Meanwhile, I enjoyed assisting Prof. Antje Ihlefeld in setting up an entire animal research lab (from designing hardware to writing software) and mentoring undergraduate students towards obtaining research grants.</p>
</section>


<h2>Education</h2>

<section>
  <div class='item arrow'>
    <div class='cols'>
      <div><b>Ph.D. in Biomedical Engineering</b></div>
      <div class='info'>Sep 2015 - 2021 (Exp)</div>
    </div>
    <div class='cols'>
      <div><a class='nodecoration' href='https://njit.edu'>New Jersey Institute of Technology</a></div>
      <div class='info'>Newark, NJ</div>
    </div>

    <div class='more'>
      Received the <a class='emphasis' href='https://engineering.njit.edu/students-awards'>2020 NCE Outstanding Graduate Student Award</a>
      <br>
      Focus: Computational neuroscience, data science, signal processing of brain waves, statistical modeling
      <br>
      Dissertation: “Towards Understanding the Role of Central Processing in Release from Masking”
      <br>
      Advisor: Prof. Antje Ihlefeld
    </div>
  </div>

  <div class='item arrow'>
    <div class='cols'>
      <div><b><a class='nodecoration' href='https://micromasters.mit.edu/ds/'>MicroMasters in Statistics & Data Science</a></b></div>
      <div class='info'>Sep 2019 - 2021 (Exp)</div>
    </div>
    <div class='cols'>
      <div><a class='nodecoration' href='https://mit.edu'>Massachusetts Institute of Technology</a></div>
      <div class='info'>Online</div>
    </div>

    <div class='more'>
      Program offered by MIT on the edX platform
      <br>
      Focus: Probability, data analysis, statistics and machine learning
    </div>
  </div>

  <div class='item arrow'>
    <div class='cols'>
      <div><b>B.S. in Electrical Engineering</b></div>
      <div class='info'>Sep 2009 - Sep 2013</div>
    </div>
    <div class='cols'>
      <div><a class='nodecoration' href='https://ui.ac.ir/EN'>University of Isfahan</a></div>
      <div class='info'>Isfahan, Iran</div>
    </div>

    <div class='more'>
      <span class='emphasis'>Summa cum laude:</span> Ranked 1st among all Electrical Engineering undergraduate students
      <br>
      Microchip design, multi-objective optimization, genetic algorithm, parallelized simulation
      <br>
      Thesis: “Design of a Safe Low-Power Neural Micro-Stimulator with Gaussian Waveform”
    </div>
  </div>
</section>


<h2>Experience</h2>

<section>
  <div class='item arrow'>
    <div class='cols'>
      <div><b>Graduate Research Assistant</b></div>
      <div class='info'>Sep 2015 - Current</div>
    </div>
    <div class='cols'>
      <div><a class='nodecoration' href='http://ihlefeldlab.com'>NESH Laboratory</a>, New Jersey Institute of Technology</div>
      <div class='info'>Newark, NJ</div>
    </div>
    <div class='more'>
      <p>
        By non-linear mixed-effects (NLME) modeling of human sound localization data we uncovered level dependence of perceived sound direction and proposed a unified computational model, overhauling the established view in the field. Further mining of the data has revealed even more interesting effects of short- and long-term adaptation when localizing with interaural time differences. Analysis in R with nlme package.
        <span class='float-right'>
          <a class='button' href='https://doi.org/10.7554/eLife.47027'>Link</a>
          <a class='button' href='https://doi.org/10.5061/dryad.t8c381f'>Code</a>
        </span>
      </p>
      <p>
        We discovered a reversal in coding scheme of target sounds in presence of background interference (the cocktail party problem) at negative signal-to-noise ratios using a combination of signal processing, pattern recognition, unsupervised and supervised learning methods to process electrical activity of neurons.
        <span class='float-right'>
          <a class='button' href='https://github.com/nalamat/ephys'>Code</a>
        </span>
      </p>
      <p>
        Electrophysiology Auditory Recording System (EARS) project: I wrote an open source package in Python and GLSL (OpenGL Shading Language) for online processing, visualization and recording of brain signals, synchronized in microseconds with behavior of animals while implanted with microelectrodes.
        <span class='float-right'>
          <a class='button' href='https://github.com/nalamat/ears'>Code</a>
        </span>
      </p>
      <p><span class='emphasis'>Mentored a team of six undergraduate students</span> towards obtaining research grants and completion of multiple projects ranging from neural signal processing and animal behavioral training to human psychoacoustics.</p>
      <p><span class='emphasis'>Assisted in setting up an entire animal research lab</span> from the ground up under supervision of Prof. Antje Ihlefeld.</p>
    </div>
  </div>

  <div class='item arrow'>
    <div class='cols'>
      <div><b>Graduate Research Assistant</b></div>
      <div class='info'>Jan 2016 - Jun 2016</div>
    </div>
    <div class='cols'>
      <div><a class='nodecoration' href='https://sites.rutgers.edu/pare-lab/'>Laboratory of Denis Paré</a>, Rutgers University</div>
      <div class='info'>Newark, NJ</div>
    </div>
    <div class='more'>
      <p>Custom implementation of the K-SVD unsupervised dictionary learning (inspired by image processing literature) in combination with matching pursuit and Gabor atom decomposition for analysis of brain waves and unsupervised recognition of sparse events. Initially written in Matlab, reimplemented in C++ with CUDA GPU acceleration.</p>
    </div>
  </div>

  <div class='item arrow'>
    <div class='cols'>
      <div><b>Research & Development Engineer</b></div>
      <div class='info'>May 2013 - May 2014</div>
    </div>
    <div class='cols'>
      <div><a class='nodecoration' href='https://novinmed.com/?lang=en'>Novin Medical Engineering Co.</a></div>
      <div class='info'>Isfahan, Iran</div>
    </div>
    <div class='more'>
      <p>Embedded systems and software development.</p>
      <p>Design of a modern ARM-based platform running on Windows Embedded along with a software framework and touch graphical user interface written in C# for the next generation devices of Novin Company.</p>
      <p>Low level drivers written in C++ facilitating real-time interaction of the software framework with different hardware peripherals for stimulator, interferential, laser and magnet therapy devices.</p>
      <p>High speed transfer of real-time data from an ARM microcontroller to another microcontroller or PC via the bulk transfer protocol of universal serial bus (USB) written in C++.</p>
    </div>
  </div>

  <div class='item arrow'>
    <div class='cols'>
      <div><b>Cofounder & Lead Engineer</b></div>
      <div class='info'>Jul 2012 - March 2014</div>
    </div>
    <div class='cols'>
      <div>Mahoor Engineering Co. (Startup)</div>
      <div class='info'>Isfahan Sci. & Tech. Town, Iran</div>
    </div>
    <div class='more'>
      <p>Electronic circuit design and software development.</p>
      <p>Proposed and partially implemented a robotic system with two arms for automation of steel processing laboratory of Mobarakeh Steel Company (Isfahan, Iran). Data from a PrimeSense depth camera installed on the first robotic arm combined with inverse kinematics was utilized to scan and construct a 3D cloud point of steel samples and the lab environment. This information was further used to automate steel sample preparation via rule-based artificial intelligence implemented on the second arm.</p>
    </div>
  </div>
</section>


<h2>Projects</h2>

<section>
  <div class='card-container'>
    <div class='card'>
      <a href='https://github.com/nalamat/ears'>
        <div class='card-content'>
          <h3><img src='/images/ears.svg' style='position: relative; top: -.1em; width: 1.1em;'> EARS</h3>
          <img src='/images/ears.png'>
          <p>Electrophysiology Auditory Recording System</p>
        </div>
        <div class='card-tags'>
          <div class='tag python'></div>
          <div class='tag glsl'></div>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='https://github.com/nalamat/ephys'>
        <div class='card-content'>
          <h3>ePhys</h3>
          <img src='/images/ephys.png' style='padding: 0 5%;'>
          <p>Analysis of neural recordings from auditory cortex</p>
        </div>
        <div class='card-tags'>
          <div class='tag matlab'></div>
          <div class='tag r'></div>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='https://github.com/nalamat/pypeline'>
        <div class='card-content'>
          <h3>Pypeline</h3>
          <img src='/images/pypeline.png' style='padding: 9% 6%; padding-bottom: 3%;'>
          <p>Object-oriented model for online processing of data streams</p>
        </div>
        <div class='card-tags'>
          <div class='tag python'></div>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='https://github.com/nalamat/glplotlib'>
        <div class='card-content'>
          <h3>glPlotLib</h3>
          <img src='/images/glplotlib.png'>
          <p>Real-time GPU-accelerated plotting toolbox</p>
        </div>
        <div class='card-tags'>
          <div class='tag python'></div>
          <div class='tag glsl'></div>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='https://github.com/nalamat/mriviewer'>
        <div class='card-content'>
          <h3>MRI Viewer</h3>
          <img src='/images/mriviewer.png'>
          <p>Interactive UI for 3D analysis of MRI images</p>
        </div>
        <div class='card-tags'>
          <div class='tag matlab'></div>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='https://datadryad.org/stash/dataset/doi:10.5061/dryad.t8c381f'>
        <div class='card-content'>
          <h3>nlme.pwr</h3>
          <img src='/images/nlme.pwr.png' style='padding: .1rem .1rem;'>
          <p>Power analysis for Nonlinear Mixed-Effects (NLME) models</p>
        </div>
        <div class='card-tags'>
          <div class='tag r'></div>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='https://github.com/nalamat/circuitoptim'>
        <div class='card-content'>
          <h3>Circuit Optim</h3>
          <img src='/images/circuitoptim.png' style='padding: 2% 9%; padding-bottom: 0;'>
          <p>A circuit optimization toolbox for MATLAB</p>
        </div>
        <div class='card-tags'>
          <div class='tag matlab'></div>
          <div class='tag cad'></div>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='https://github.com/nalamat/bcomp'>
        <div class='card-content'>
          <h3>BCOMP</h3>
          <img src='/images/bcomp.png' style='padding: 5% 6%; padding-bottom: 0%;'>
          <p>Gate-level simulation of the Basic computer</p>
        </div>
        <div class='card-tags'>
          <div class='tag cad'></div>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='https://github.com/nalamat/basm'>
        <div class='card-content'>
          <h3>BASM</h3>
          <img src='/images/basm.png'>
          <p>The Basic computer assembler</p>
        </div>
        <div class='card-tags'>
          <div class='tag cpp'></div>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='https://github.com/nalamat/easydaqmx'>
        <div class='card-content'>
          <h3>EasyDAQmx</h3>
          <img src='/images/easydaqmx.jpg'>
          <p>No-brainer object-oriented interface for NI DAQ devices</p>
        </div>
        <div class='card-tags'>
          <div class='tag python'></div>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='javascript:;'>
        <div class='card-content'>
          <h3>Audio Calibration</h3>
          <img src='/images/audio-calibration.jpg'>
          <p>Toolbox for calibrating frequency response of audio playback systems</p>
        </div>
        <div class='card-tags'>
          <div class='tag python'></div>
          <div class='tag matlab'></div>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='https://github.com/nalamat/avroscope'>
        <div class='card-content'>
          <h3>AVROscope</h3>
          <p>A low-cost low-frequency USB oscilloscope using Atmel AVR microcontroller</p>
        </div>
        <div class='card-tags'>
          <div class='tag cpp'></div>
          <div class='tag cs'></div>
          <div class='tag cad'></div>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='https://github.com/nalamat/ajaxify-wp'>
        <div class='card-content'>
          <h3>Ajaxify WP</h3>
          <p>Hybrid ajaxify plugin for WordPress, load pages with Ajax while keeping normal link behavior intact</p>
        </div>
        <div class='card-tags'>
          <div class='tag css'></div>
          <div class='tag js'></div>
        </div>
      </a>
    </div>

    <div class='card'>
      <a href='https://github.com/nalamat/smscontroller'>
        <div class='card-content'>
          <h3>SMS Controller</h3>
          <p>Remotely control home appliances with text message commands</p>
        </div>
        <div class='card-tags'>
          <div class='tag cpp'></div>
          <div class='tag cad'></div>
        </div>
      </a>
    </div>
  </div>
</section>


<h2>Publications</h2>

<section>
  {% for item in site.data.publications %}
    <div class='item {% if item.abstract %} arrow {% endif %}'>
      <h3>{{ item.title }}</h3>
      <div class='cols'>
        <div>
          {{ item.authors }}
          <br>
          {{ item.publisher }}
        </div>
        <div class='buttons'>
          {% for link in item.links %}
            {% if link[1] and link[0] != 'DOI' %}
              <a class='button' href='{{ link[1] }}'>{{ link[0] }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class='more'>
        <p>{{ item.abstract }}</p>
      </div>
    </div>
  {% endfor %}
</section>
