---
title: My Portfolio - Nima Alamatsaz
layout: default
---


<h2 class='portfolio'>Education</h2>

<section>
  {% for item in site.data.education %}
    <div class='item {% if item.description %} arrow {% endif %}'>

      <div class='cols'>
        <div><b>{{ item.title }}</b></div>
        <div class='info'>{{ item.date }}</div>
      </div>

      <div class='cols'>
        <div>{{ item.university }}</div>
        <div class='info'>{{ item.location }}</div>
      </div>

      <div class='more'>
        {% for paragraph in item.description %}
          {{ paragraph }}
          <br>
        {% endfor %}
      </div>

    </div>
  {% endfor %}
</section>


<h2 class='portfolio'>Experience</h2>

<section>
  {% for item in site.data.experience %}
    <div class='item {% if item.description %} arrow {% endif %}'>

      <div class='cols'>
        <div><b>{{ item.title }}</b></div>
        <div class='info'>{{ item.date }}</div>
      </div>

      <div class='cols'>
        <div>{{ item.company }}</div>
        <div class='info'>{{ item.location }}</div>
      </div>

      <div class='more'>
        {% for paragraph in item.description %}
          <p>{{ paragraph }}</p>
        {% endfor %}
      </div>

    </div>
  {% endfor %}
</section>


<h2 class='portfolio'>Projects</h2>

<section>
  <div class='card-container'>
    {% for item in site.data.projects %}
      <div class='card'>
        <a href='{{ item.link }}'>

          <div class='card-content'>
            <h3>
              {% if item.logo %}
                <img src='{{ item.logo }}' style='{{ item.logo-style }}'>
              {% endif %}
              {{ item.title }}
            </h3>

            {% if item.image %}
              <img src='{{ item.image }}' style='{{ item.image-style }}'>
            {% endif %}
            <p>{{ item.description }}</p>
          </div>

          {% if item.tags %}
            <div class='card-tags'>
              {% for tag in item.tags %}
                <div class='tag {{ tag }}'></div>
              {% endfor %}
            </div>
          {% endif %}

        </a>
      </div>
    {% endfor %}
  </div>
</section>


<h2 class='portfolio'>Publications</h2>

<section>
  {% for item in site.data.publications %}
    <div class='item {% if item.abstract %} arrow {% endif %}'>

      <h3>{{ item.title }}</h3>

      <div class='cols'>
        <div>
          {{ item.authors }}
          <br>
          {{ item.publisher }}
        </div>

        <div class='buttons'>
          {% for link in item.links %}
            {% if link[1] and link[0] != 'DOI' %}
              <a class='button' href='{{ link[1] }}'>{{ link[0] }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class='more'>
        <p>{{ item.abstract }}</p>
      </div>

    </div>
  {% endfor %}
</section>
